.header_area{
    margin: 0px;
    padding: 0px;
}
.logo img{
    margin: 28px 0;
    border-radius: 50%;
}
.menu{
    margin-top: 44px;
}
ul{
    list-style-type: none;
}
ul li{
    float: left;
    margin-left: 30px;
}
ul li a{
    color: chocolate;
    font-size: 18px;
}
ul li a:hover{
    text-decoration: none;
    color: cadetblue;
    border-bottom: 2px solid red;
    cursor: pointer;
    border-radius: 8px;
}
/*           Header area end                */
/*             owl carousel slider area start                       */
.single_one img{
    width: 100%;
}
.single_three img{
    width: 265px;
}
.team_slide_area{
    background-color: black;
}
.single_member{
    color: #fff;
}
.single_member img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.single_member h4{
    
}
.single_member p{
    
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0px;
}


/*                owl carousel slider area End                       */
.footer_center{
    background-color: chocolate;
    height: 50px;
}
.foot_text{
    padding-top: 15px;
    text-align: center;
}